.chetan{
    text-align: center;
    padding-left: 10px;
    color: white;
}
.text{
    text-align: left;
}
img{
    border-radius: 10px;
}
body{
    background: rgb(19, 17, 17);
}
button{
    padding: 10px;
    border-radius: 10px;
}
.yel{
    background-color: rgb(221, 176, 13);
}
.blue{
    background-color: #24A0ED;
    color: white;
}